
/* nav */
.nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 116rpx;
  background: #fff;
  z-index: 99999999;
}
.navContainer{
  margin: 0 30rpx;
  width: calc(100% - 60rpx)

}
.navContainer li{
  float: left;
  width: 25%;
}

.navContainer li div{
  text-align: center;
  font-size:24rpx;
}
.navContainer li i{
  height: 45rpx;
  display: inline-block;
  width: 100%;
  margin-top: 20rpx;
}
.footerIcon{
  background-image: url("https://api.nd115.com/static/images/footer-icon.png");
  background-repeat: no-repeat;
}
.find{
  background-size: 40rpx;
  background-position: top 0rpx center;
}
.lineDown{
  background-size: 40rpx;
  background-position: top -45rpx center;
}
.lineUp{
  background-size: 40rpx;
  background-position: top -90rpx center;
}
.mine{
  background-size: 40rpx;
  background-position: top -140rpx center;
}

.footer-choose div{ color: #2da1d4}

.footer-choose .footerIcon{
  background-image: url("https://api.nd115.com/static/images/footer-icon-choose.png");
}
