@import "public.css";


.head-top{
  width:100%;
  height:600rpx;
  background-size: 100% 600rpx;
  background: url("http://admin.qq.im/static/images/mine-back.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center!important;
}


.head-top>div img{
  width: 140rpx;
  height: 140rpx;
  border-radius: 50%;
  border: 10rpx solid rgba( 0,0,0,0.4 );
  background: rgba( 255,255,255,0.3 );
}
.head-top>div p{
  margin-top:35rpx;
  text-align: center;
  font-size:27rpx;
  color:#333333;
}

.mine-choose li{
  height: 108rpx;
  width: auto;
  padding:0 88rpx;
  background: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
}
.mine-choose li:nth-child(2n-1){
  background:#f2f6f9;
}
.mine-choose li a{ width: 100%; display: inline-block; }
.mine-choose li img{ margin-right: 32rpx;}
.mine-choose li .icon-1{ width: 30rpx; height: 28rpx; }
.mine-choose li .icon-2{ width: 33rpx; height: 28rpx; }
.mine-choose li .icon-3{ width: 30rpx; height: 30rpx; }
.mine-choose li .icon-4{ width: 30rpx; height: 30rpx; }
.mine-choose li .icon-5{ width: 35rpx; height: 35rpx; }


.mine-choose li a,
.mine-choose li a:hover,
.mine-choose li a:active,
.mine-choose li a:visited,
.mine-choose li a:link,
.mine-choose li a:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline:none;
  background: none;
  text-decoration: none;
}













