@import 'public.css';

.online{
  position: fixed;
  height: 100%;
  width: 100%;
  flex-direction:column;
  /*display:flex;
  align-items:center;!*垂直居中*!
  justify-content: center;!*水平居中*!*/
  background: url("https://api.nd115.com/static/images/online-head.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.online-time{
  position: absolute;
  width: 100%;
  height: 200rpx;
  /*background: aquamarine;*/
}

.felling{
  text-align: center;
}
.font_h1{ font-size: 28rpx;}
.box{ position: relative; height: 500rpx; }

.time1>.box>.one-body{
  background: #ef9c3b;
}
.time3>.box>.one{
  border-bottom:140rpx solid #ef9c3b;
}
.time2>.box>.one-body{
  background: #ea6c06;
}
.time2>.box>.one{
  border-bottom:140rpx solid #ea6c06;
}
.time3>.box>.one-body{
  background: #2da1d4;
}
.time3>.box>.one{
  border-bottom:140rpx solid #2da1d4;
}
.online-time .one{
  width:0;
  height:0;
  border-right:375rpx solid transparent;  /*动态获取 宽度 */
  border-left:375rpx solid transparent;
  border-bottom:140rpx solid #ef9c3b;
}
.icon-white{
  background-image: url("https://api.nd115.com/static/images/zan-white.png");
  background-repeat: no-repeat;
}
/* 最初 */


.online-time .one-body{
  width: 100%;
  height: 380rpx;
}
.online-time> .font{
  position: absolute;
  width: 100%;
  height: 350rpx;
  color: #fff;
  font-size: 27rpx;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.time1{
  animation:myfirst1 0.5s;
  bottom:50%;
}
.time2{
  animation:myfirst2 0.5s;
  bottom:33%;
}
.time3{
  animation:myfirst3 0.5s;
  bottom:15%;
}

@keyframes myfirst1
{
  0%   {bottom:0%;}
  100% {bottom:50%;}
}
@keyframes myfirst2
{
  0%   {bottom:0%;}
  100% {bottom:33%;}
}
@keyframes myfirst3
{
  0%   {bottom:0%;}
  100% {bottom:15%;}
}


/* 更改

@media screen and ( min-width:376px ){
  .online-time> .font{ height: 285px; }


  @keyframes myfirst1
  {
    0%   {bottom:0%;}
    100% {bottom:43%;}
  }
  @keyframes myfirst2
  {
    0%   {bottom:0%;}
    100% {bottom:27%;}
  }
  @keyframes myfirst3
  {
    0%   {bottom:0%;}
    100% {bottom:11%;}
  }
  .time1{
    animation:myfirst1 0.5s;
    bottom:43%;
  }
  .time2{
    animation:myfirst2 0.5s;
    bottom:27%;
  }
  .time3{
    animation:myfirst3 0.5s;
    bottom:11%;
  }


}
 */


/* px 修改 */
@media screen and ( max-height:667px ) {
    .online-time .one-body {
      width: 100%;
      height: 270rpx;
    }

    .online-time > .font {
      position: absolute;
      width: 100%;
      height: 280rpx;
      color: #fff;
      font-size: 27rpx;
      z-index: 999;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .time1 {
      animation: myfirst1 0.7s;
      bottom: 580rpx;
    }

    .time2 {
      animation: myfirst2 1s;
      bottom: 370rpx;
    }

    .time3 {
      animation: myfirst3 1.2s;
      bottom: 150rpx;
    }

    @keyframes myfirst1 {
      0% {
        bottom: 0%;
      }
      100% {
        bottom: 580rpx;
      }
    }
    @keyframes myfirst2 {
      0% {
        bottom: 0%;
      }
      100% {
        bottom: 370rpx;
      }
    }
    @keyframes myfirst3 {
      0% {
        bottom: 0%;
      }
      100% {
        bottom: 150rpx;
      }
    }

}

@media screen and ( max-height:736px ) and ( min-height:668px ) {
  .online-time .one-body {
    width: 100%;
    height: 290rpx;
  }

  .online-time > .font {
    position: absolute;
    width: 100%;
    height: 290rpx;
    color: #fff;
    font-size: 27rpx;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .time1 {
    animation: myfirst1 0.7s;
    bottom: 620rpx!important;
  }

  .time2 {
    animation: myfirst2 1s;
    bottom: 410rpx;
  }

  .time3 {
    animation: myfirst3 1.2s;
    bottom: 180rpx;
  }

  @keyframes myfirst1 {
    0% {
      bottom: 0%;
    }
    100% {
      bottom: 620rpx!important;
    }
  }
  @keyframes myfirst2 {
    0% {
      bottom: 0%;
    }
    100% {
      bottom: 410rpx;
    }
  }
  @keyframes myfirst3 {
    0% {
      bottom: 0%;
    }
    100% {
      bottom: 180rpx;
    }
  }

}










/*

.online-head{
  width: 100%;
  height: auto;
}
.online-time{
  position: relative;
}
.time1{ top:0rpx }
.time2{ bottom:150rpx }
.time3{ bottom:0 }

.online-time> .font{
  position: absolute;
  width: 100%;
  color: #fff;
  font-size: 27rpx;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  position: relative;
}
.online-time .one{
 !* width: 100%;
  height: 400rpx;
  background:#ef9c3b;*!

  position: absolute;
  top: -140rpx;
  width:0;
  height:0;
  border-right:375rpx solid transparent; !* 动态获取 宽度 *!
  border-left:375rpx solid transparent;
  border-bottom:140rpx solid #ef9c3b;
}
.online-time .one-body{
  width: 100%;
  height: 200rpx;
  background:#ef9c3b ;
  !*margin-top: 140rpx;*!
}
.icon-white{
  background-image: url("https://api.nd115.com/static/images/zan-white.png");
  background-repeat: no-repeat;
}


*/

