@import "public.css";

.details-box{
  position: absolute;
  width: 100%;
  height: auto;
}
.details-title{
  width: calc( 100% - 90rpx );
  min-height: 200rpx;
  color: #ffffff;
  font-size: 24rpx;
  border-radius: 50rpx 50rpx 0 0;
  background: #2da1d4;
  padding: 0 45rpx;
  overflow: hidden;
}
.title{
  font-size: 24rpx;
  overflow: hidden;
}
.title p{
  width: 80%;
  padding-top: 28rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  float: left;
}
.title span{
  padding-top: 28rpx;
  float: right;
}
.title .details-top{
  padding-top: 48rpx;
  padding-bottom: 48rpx;
}
.title-center{
  text-align: center;
  padding-top: 28rpx;
}
.details-img{
  width: 38rpx;
  height: 50rpx;
  margin-top: 10rpx;
}
.details-img2{
  width: 24rpx;
  height: 24rpx;
  margin-top: 10rpx;
}
.details-content{
  width: calc( 100% - 90rpx );
  color: #666;
  padding: 0 45rpx;
  background: #fff;
  border-radius: 50rpx 50rpx 0 0;
  margin-top: -110rpx;
}
.details-content .details-botton{
  width:160rpx;
  height: 48rpx;
  line-height: 48rpx;
  text-align: center;
  color: #e66a06;
  margin-right:10rpx;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6rpx;
  float: left;
}
.details-botton-margin{  margin-bottom:45rpx;}
.details-comment{
  width: 100%;
  border-top: 1rpx solid #ccc;
  overflow: hidden;
}
.details-comment li>img{
  width:82rpx;
  height:82rpx;
  float: left;
}
.comment-box{
  width: calc( 100% - 97rpx );
  margin-left: 15rpx;
  float: left;
}
.details-comment li{
  width: 100%;
  padding: 40rpx 0;
  font-size: 24rpx;
  border-bottom: 1rpx solid #ccc;
  overflow: hidden;

}
.comment-title{
  margin-bottom: 30rpx;
  overflow: hidden;

}
.black{ color: #000; font-weight: bold;}
.comment-title h2{
  width:300rpx;
  font-size: 24rpx;
  color: #666;
  float: left;
}
.comment-title span{
  width:200rpx;
  text-align: right;
  float: right;
}
.comment-content{
  color: #333333;
  margin-bottom: 50rpx;
}
.comment-choose a{
  display: inline-block;
  margin-top: 17rpx;
}
.comment-choose a{
  margin-right: 25rpx;
}
.comment-img{
  display: inline-block;
}
.comment-inp{
  position: fixed;
  bottom: 0;
  width: calc( 100% - 90rpx );
  height: 116rpx;
  color: #333;
  font-size:24rpx;
  border-top: 1rpx solid #ccc;
  background: #ffffff;
}
.comment-inp input{
  height: 116rpx;
}
.comment-inp-color{
  color: #666666;
  font-size:24rpx;
}
.comment-reply{
  margin-bottom: 20rpx;
}
.comment-reply span{
  display: inline-block;

}
.comment-reply string{
  display: inline-block;
}


.details-synopsis{
  padding-top: 30rpx;
  font-size:24rpx;
  color: #666;
  line-height: 40rpx;
}




















