@import "public.css";



.set-head{
  width: 100%;
  height: 125rpx;
  background: #000000;
}

.set-box li{
  width: calc( 100% - 38rpx );
  height: 110rpx;
  line-height: 110rpx;
  font-size: 28rpx;
  color: #333;
  padding-left: 38rpx;
}
.set-box li:nth-child(2n-1){
  background: #f2f6f9;
}

