@import "public.css";

.posit{ position: relative; }
.sign-logo,.service-logo{
  height: 420rpx;
  display: flex;
  justify-content: center;
  align-items:center;
}
.sign-logo img{
  width: 115rpx;
  height: auto;
}
.service-logo img{
  width: 155rpx;
  height: 40rpx;
}
.sign-get{
  position: absolute;
  z-index: 999999;
  width: 200rpx;
  height: 30rpx;
  font-size: 24rpx;
  text-align: center;
  color: #fff;
  bottom: 15rpx;
  right: 0;
  border-left:1rpx solid #fff;
  margin: 15rpx;
}
.sign{
  position: fixed;
  height: 100%;
  width: calc( 100% - 176rpx );
  flex-direction:column;
  /*
  display:flex;
  align-items:center;!*垂直居中*!
  justify-content: center;!*水平居中*!
  background: #2da1d4;
  */

  background: url("https://api.nd115.com/static/images/sigin-back.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 0 88rpx;
}
.sign-font{
  margin-top: 130rpx;
  margin-bottom: 70rpx;
  text-align: center;
  color: #fff
}
.sign-font h1{
  margin-bottom: 30rpx;
  font-size: 40rpx;
}
.sign-font p{
  font-size: 24rpx;
}
.sign-input .phone{
  display: inline-block;
  width: calc( 100% - 25rpx );
  height: 60rpx;
  color:#fff;
  font-size:24rpx;
  border-bottom: 1rpx solid #fff;
  margin-top: 55rpx;
}
.sign-input input{
  padding-left: 25rpx;
}
.placeholder{
  color: #ffffff;
  font-size: 24rpx;
}
.sign-button{
  width: 100%;
  height: 70rpx;
  font-size: 24rpx;
  color: #ffffff;
  text-align: center;
  line-height: 70rpx;
  background: rgba(255,255,255,0.4);
  border: 1rpx solid #fff;
  border-radius: 70rpx;
  margin-top: 180rpx;
}
.sign-button-top{
  margin-top: 45rpx;
}
.sign-button2{
  margin-top: 75rpx;
  background: rgba(255,255,255,0);
}


.sign-textarea{
  width: calc( 100% - 46rpx );
  height: 280rpx;
  line-height: 40rpx;
  border-radius: 8rpx;
  background: rgba(255,255,255,0.4);
  margin-top: 56rpx;
  font-size: 24rpx;
  padding: 16rpx 23rpx;
  color: #fff;
}












