@import 'public.css';

.video_top{
  width: 100%;
  height:30rpx;
  background: #000;
}
.video_box{
  width: 100%;
  height: 470rpx;
  background: #cccccc;
}
.video_blue{
  height:82rpx;
  font-size: 24rpx;
  color: #fff;
  line-height: 82rpx;
  background: #2da1d4;
}
.video_blue p{
  width: calc( 100% - 80rpx );
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.video_blue span{
  width:80rpx;
  text-align: right;
  display: inline-block;
  float: left;
}

/* ------------------ */

.details-comment{
  width: 100%;
  border-top: 1rpx solid #ccc;
  overflow: hidden;
}
.details-comment li>img{
  width:82rpx;
  height:82rpx;
  float: left;
}
.comment-box{
  width: calc( 100% - 97rpx );
  margin-left: 15rpx;
  float: left;
}
.details-comment li{
  width: 100%;
  padding: 40rpx 0;
  font-size: 24rpx;
  border-bottom: 1rpx solid #ccc;
  overflow: hidden;

}
.comment-title{
  margin-bottom: 30rpx;
  overflow: hidden;

}
.black{ color: #000; font-weight: bold;}
.comment-title h2{
  width:300rpx;
  font-size: 24rpx;
  color: #666;
  float: left;
}
.comment-title span{
  width:200rpx;
  text-align: right;
  float: right;
}
.comment-content{
  color: #333333;
  margin-bottom: 50rpx;
}
.comment-choose a{
  display: inline-block;
  margin-top: 17rpx;
}
.comment-choose a{
  margin-right: 25rpx;
}
.comment-img{
  display: inline-block;
}
.comment-inp{
  position: fixed;
  bottom: 0;
  width: calc( 100% - 90rpx );
  height: 116rpx;
  color: #333;
  font-size:24rpx;
  border-top: 1rpx solid #ccc;
  background: #ffffff;
}
.comment-inp input{
  height: 116rpx;
}
.comment-inp-color{
  color: #666666;
  font-size:24rpx;
}
.comment-reply{
  margin-bottom: 20rpx;
}
.comment-reply span{
  display: inline-block;

}
.comment-reply string{
  display: inline-block;
}


.details-synopsis{
  padding-top: 30rpx;
  font-size:24rpx;
  color: #666;
  line-height: 40rpx;
}



/*-------------*/

.font{ width: 60%; float: left}
.font>h1{
  font-size: 27rpx;
  color:#333;
}
.font div a,.felling a{
  display: inline-block;
}
.head-img{
  width: 40%;
  float: left
}
.head-img img{
  float: right;
  width: 62rpx;
  height: 62rpx;
  border-radius: 62rpx;
  margin-left: 10rpx;
  display: inline-block;
}
.font>div span{
  display: inline-block;
  font-size: 19rpx;
  color:#999;
}
.icon{
  display: inline-block;
  margin-left: 5rpx;
  margin-right: 25rpx;
  background-image: url("http://admin.qq.im/static/images/zan.png");
  background-repeat: no-repeat;
}
.love{
  height: 20rpx;
  width: 20rpx;
  background-size:20rpx;
  background-position:top 3rpx left 0rpx;
}
.good{
  height: 20rpx;
  width: 20rpx;
  background-size:20rpx;
  background-position:top -19rpx left 0rpx;
}
.look{
  height: 20rpx;
  width: 25rpx;
  background-size:20rpx;
  background-position:top -42rpx left 0rpx;
}


/*-------------------*/

.video_head{
  height: 61rpx;
  margin-bottom: 53rpx;
  overflow: hidden;
}
.video_head img{
  width: 61rpx;
  height: 61rpx;
  margin-right: 12rpx;
}
















